/bin/AndroidManifest.xml
/bin/CicloDeVida.apk
/bin/classes.dex
/bin\classes\co\com\ideaslab\example/BuildConfig.class
/bin\classes\co\com\ideaslab\example/MainActivity.class
/bin\classes\co\com\ideaslab\example/R$attr.class
/bin\classes\co\com\ideaslab\example/R$drawable.class
/bin\classes\co\com\ideaslab\example/R$id.class
/bin\classes\co\com\ideaslab\example/R$layout.class
/bin\classes\co\com\ideaslab\example/R$menu.class
/bin\classes\co\com\ideaslab\example/R$string.class
/bin\classes\co\com\ideaslab\example/R$style.class
/bin\classes\co\com\ideaslab\example/R.class
/bin\classes\co\com\ideaslab\example/SegundoActivity.class
/bin\dexedLibs/android-support-v4-b63cb4f6a163b7b81b5f595ec08baee9.jar
/bin\dexedLibs/annotations-d3ae650011a1b4147ce5e99759aaf51a.jar
/bin/jarlist.cache
/bin\res\drawable-hdpi/ic_launcher.png
/bin\res\drawable-ldpi/ic_launcher.png
/bin\res\drawable-mdpi/ic_launcher.png
/bin\res\drawable-xhdpi/ic_launcher.png
/bin/resources.ap_
/gen\co\com\ideaslab\example/BuildConfig.java
/gen\co\com\ideaslab\example/R.java
/.classpath
/.project
/bin\classes\co\com\ideaslab\example/BuildConfig.class
/bin\classes\co\com\ideaslab\example/MainActivity.class
/bin\classes\co\com\ideaslab\example/R$attr.class
/bin\classes\co\com\ideaslab\example/R$drawable.class
/bin\classes\co\com\ideaslab\example/R$id.class
/bin\classes\co\com\ideaslab\example/R$layout.class
/bin\classes\co\com\ideaslab\example/R$menu.class
/bin\classes\co\com\ideaslab\example/R$string.class
/bin\classes\co\com\ideaslab\example/R$style.class
/bin\classes\co\com\ideaslab\example/R.class
/bin\classes\co\com\ideaslab\example/SegundoActivity.class
/bin\dexedLibs/android-support-v4-b63cb4f6a163b7b81b5f595ec08baee9.jar
/bin\dexedLibs/annotations-d3ae650011a1b4147ce5e99759aaf51a.jar
/bin\res\drawable-hdpi/ic_launcher.png
/bin\res\drawable-ldpi/ic_launcher.png
/bin\res\drawable-mdpi/ic_launcher.png
/bin\res\drawable-xhdpi/ic_launcher.png
/gen\co\com\ideaslab\example/BuildConfig.java
/gen\co\com\ideaslab\example/R.java
